.page-numbers {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  list-style: none;
}
.game-box:hover {
  transform: translateY(-2px);
}

.page-numbers li {
  display: flex;
  justify-content: center;
  width: 50px;
  color: rgb(192, 12, 12);
  padding: 2px;
  cursor: pointer;
  background-color: black;
}

.page-numbers li.active,
.page-numbers li:hover {
  border-radius: 5px;
  transform: translateY(-5px);
  box-shadow: 0 10px 10px -5px rgb(192, 12, 12);
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.showcase-and-genrefilters {
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.genre-filter {
  width: 18%;
}

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 2%;
  background-color: rgb(32, 31, 31);
}

.upper-buttons {
  background-color: rgb(32, 31, 31);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
}

.searchbar-and-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.add-game-button {
  width: 300px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background: rgb(32, 31, 31);
  color: rgb(192, 12, 12);
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
}

.add-game-button:hover {
  border: solid 1px rgb(192, 12, 12);
}

.filter {
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
}

.reset-name-button {
  width: 300px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background: black;
  color: rgb(192, 12, 12);
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
}

.reset-name-button:hover {
  border: solid 1px rgb(192, 12, 12);
}
