.page-numbers {
  display: flex;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  list-style: none;
  display: flex;
}

.page-numbers li {
  width: 60px;
  color: rgb(192, 12, 12);
  padding: 10px;
  cursor: pointer;
  background-color: black;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.game-container {
  border: 1px solid rgb(192, 12, 12);
}

.showcase-and-genrefilters {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.genre-filter {
  width: 22%;
}

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  border: solid 2px white;
  width: 100%;
}

.upper-buttons {
  background-color: rgb(32, 31, 31);
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
}

.searchbar-and-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.add-game-button {
  width: 300px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background: rgb(32, 31, 31);
  color: rgb(192, 12, 12);
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
}

.add-game-button:hover {
  border: solid 1px rgb(192, 12, 12);
}

.filter {
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
}

.reset-name-button {
  width: 300px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background: black;
  color: rgb(192, 12, 12);
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
}

.reset-name-button:hover {
  border: solid 1px rgb(192, 12, 12);
}
