.gameContainer {
  /* ;
  width: 600px;
  padding: 10px;
  margin: 20px;
  background-color: grey;
  opacity: 90%;
  border-radius: 8.09px; */
  border: 2px solid black;
  opacity: 90%;
  margin: 1rem 1rem;
  border-radius: 10px;

  width: max-content;
  height: max-content;
  font-size: 14px;
  text-shadow: 3px 3px 5px #ffffff;
  color: blanchedalmond;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.gameImg {
  /* max-width: 100%;
  max-height: 100%;
  display: block; */
  height: 25rem;
  width: 25rem;
  margin: 0.5 rem;
  border-radius: 5px;
  box-shadow: 20px 20px 30px #292929;
}
