#logoHenry {
  margin-right: 20px;
}

.row {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 90%;
}
h2 {
  position: absolute;
  top: 2%;
  left: 41%;
}
/* .rowRight {
  display: flex;
} */
.row img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 7%;
  width: 16%;
}

.row div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* position: absolute;
  top: 2%;
  right: 0px;  */
}
