.genre-checkbox {
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
}

.genre-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(192, 12, 12);
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}
